/NeurophGlass/nbproject/private/
/NeurophGlass/build/
/NeurophWines/nbproject/private/
/NeurophWines/build/
/NeurophSeeds/nbproject/private/
/NeurophSeeds/build/
/NeurophAnimals/nbproject/private/
/NeurophAnimals/build/
/NeurophSweden/nbproject/private/
/NeurophSweden/build/
/NeurophRound2BreastCancer/nbproject/private/
/NeurophRound2BreastCancer/build/
/NeurophRound2/nbproject/private/
/NeurophRound2/build/